@page
@model E_Commerce_App.Pages.Accounts.IndexModel
@{
}
<h2>This is the auth index Razer</h2>
<form method="post" action="/auth/authenticate">
    <input name="username" />
    <input name="Password" />
    <button type="submit"> Login </button>

</form>